/* convetions */

@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.page-nav {
    margin-top: 75px;
}

.site-navigation {
    list-style: none;
    width: 575px;
    margin: 0 auto;
    font-size: 0;
    
}

.head-item {
    display: inline-block;
    margin-right: 107px;
}

.head-item:last-child {
    margin-right: 0px;
}

.site-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #626262;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
}

.site-link:hover,
.site-link:focus {
    color: #03a9f4;
}

.site-item {
    display: inline-block;
    margin-right: 60px;
}

.features-list-item:nth-child(2n) {
    margin-right: 0px;
}

.features-list-item {
    width: 420px; 
    display: inline-block;
    margin: 30px;
    margin-bottom: 132px;
}

.features-list {
    margin: 0;
    padding: 0;
}

.features-list-item img {
    margin-bottom: 31px;
}

.features-list-item p {
    margin-bottom: 12px;
}

.site-navigation {
    margin-bottom: 104px;
}

.page-nav {
    margin-top:75px;
}

.button {
    text-align: center;
    border-width: 1px;
    margin: 0;
    padding: 0;
    height: 60px;
    width: 164px;
    border-color: black;
    cursor: pointer;
    font-size: 20px;
    font-family: Playfair Display;
    margin-bottom: 15px;
}

.features-list {
    width: 70%;
    margin: 0 auto;
} 

