@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
.color:hover {
        color:  #6bc2f7;
}
header {
    margin: 0 auto;
}
.color {
    float: left;
    margin-left: 115px;
    cursor: pointer;
}
.menu {
    padding-bottom: 50px;
    padding-top: 60px;
    width: 960px;
    font-size: 20px;
    font-family: Playfair Display;
}
.main {
    float:left;
    margin: 0 20px;
}
.first {
    float:left;
    margin: 0 20px;
}
.second {
    float:left;
    margin: 0 20px;
}
.third {
    float:left;
    margin: 0 20px;
}
.fourth {
    float:left;
    margin: 0 20px;
}
.fifth {
    float:left;
    margin: 0 20px;
}
.menu {
    margin-bottom: 0;
}
.container {
    width: 960px;
    text-align: center;
}
.list {
    display: inline-block;
    width: 470px;
    vertical-align: top;
    margin-right: 16px;
}
.lifestyle {
    margin: 35px 0 35px 0;
    font-size: 15px;
    color: grey;
    text-align: left;
    font-family: Playfair Display;
}
.list2 {
    display: inline-block;
    width: 470px;
    vertical-align: top;
}
.lifestyle2 {
    margin: 35px 0 35px 0;
    font-size: 15px;
    color: grey;
    text-align: left;
    font-family: Playfair Display;
}
.title2 {
    color: grey;
    text-align: left;
    font-size: 35px;
}
.text2 {
    display: inline-block;
    padding: 5px;
    font-family: Playfair Display;
    text-align: left;
    font-size: 16px;
}
body {
    text-align: center;
}
.container {
    text-align: center
}
.lifestylepng2 {
    width: 470px;
}
#firstmenu {
    margin-left: 0;
}
ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    margin: 0 auto;
}
ul li {
    display: inline-block;
}
.text3 {
    width: 470px;
    padding: 5px;
    margin-right: 0;
}
.button {
    text-align: center;
    border-width: 1px;
    margin: 0;
    padding: 0;
    height: 60px;
    width: 164px;
    border-color: black;
    cursor: pointer;
    font-size: 20px;
    font-family: Playfair Display;
    background-color: rgba(15, 67, 34, 0)
}
a {
    text-decoration: none;
    color: black;
}
a:active {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: black;
}
.container {
    width: 960px;
    margin: 0 auto;
}
.section {
    font-size: 0;
}