/* .container {
margin: 100px auto;
} */
.block1,
.block2,
.block3 {
    width: 100 px;
    height: 100 px
}
.block1 {
    background-color: blue
}
.block2 {
    background-color: brown
}
.block3 {
    background-color: aqua
}
.container: {
    display: flex; 
    justify-content: space-evendly;
}